<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			input{width: 150px;height: 40px;color: #fff;background: #66AFE9;border: 0;border-radius: 5px;font-size: 16px;cursor: pointer;}
		</style>
	</head>
	<body>
		<input type="button" value="点击获取验证码" id="subBtn" />
	</body>
	<script type="text/javascript" src="../js/3rdlib/jquery-2.0.0.min.js" ></script>
	<script type="text/javascript">
		var num = 60;
		$('#subBtn').click(function(){
			setTime($(this));
		});
		function setTime(e){
			var flag = e.val();
			if(num == 0){
				e.removeAttr('disabled');
				e.val('点击重新获取验证码');
			}else{
				e.attr('disabled','disabled');
				e.css('background','#666');
				e.val(num+'S后再次获取');
				num--;				
			}
			
			setTimeout(function(){
				setTime(e);
			},1000);
		}		
	</script>
</html>
