<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>回到顶部</title>
		<style>
			body{height: 2000px;margin: 0;padding: 0;background: #000;}
			#backTop{position: fixed;background: url(../images/goTop.png) no-repeat;bottom: 100px;right: 100px;display: inline-block;width: 50px;height: 50px;display: none;cursor: pointer;}
			.box1{height: 500px;background: #fff;overflow: hidden;width: auto;}
			.box2{width: 100px;height: 100px;background: red;float: left;}
			.box3{width: 200px;height: 100px;background: blue;float: left;}
		</style>
	</head>
	<body>
		<a id="backTop"></a>
		<div class="box1">
			<div class="box2"></div>
			<div class="box3"></div>
			<div style="clear: both;"></div>
		</div>
		<script type="text/javascript" src="../js/3rdlib/jquery-2.0.0.min.js" ></script>
		<script type="text/javascript">
			var screenH = $(window).height();
			var bodyH = $('body').height();
			$('#backTop').click(function(){
				$('html,body').animate({scrollTop:'0px'},1000)
			})
			$(window).scroll(function(){
				if($(window).scrollTop() > 0){
					$('#backTop').fadeIn(400);
				}else{
					$('#backTop').fadeOut(200);
				}
			}).trigger('scroll');
		</script>
	</body>
</html>
