<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Happy Birthday</title>
		<link rel="stylesheet" media="screen" href="../css/banner.css">
	</head>
	<body>
		<div id="sequence-theme">
			<div id="sequence">
				<ul class="sequence-canvas">
					<li class="animate-in" style="z-index: 6;">
						<img data-sequence-caption="Dear Baby<br />亲爱的宝宝" src="../images/banner1.jpg" alt="1" style="">
					</li>
					<li>
						<img data-sequence-caption="I would treat you like a princess<br />你是我的小公主" src="../images/banner2.JPG" alt="1">
					</li>
					<li>
						<img data-sequence-caption="Without you my life is empty<br />没了你我整个人生都不完整了" src="../images/banner3.JPG" alt="3">
					</li>
					<li>
						<img data-sequence-caption="You are so not fat<br />你一点也不胖" src="../images/banner4.JPG" alt="2">
					</li>
					<li>
						<img data-sequence-caption="Happy Birthday<br />生日快乐" src="../images/banner5.JPG" alt="2">
					</li>
					<li>
						<img data-sequence-caption="I will always love you<br />我会永远爱你" src="../images/banner6.JPG" alt="3">
					</li>
				</ul>

				<ul class="nav">
					<li class="sequence-nav-button sequence-prev">
						<img src="../images/bt-prev.png" alt="&lt;">
					</li>
					<li class="sequence-nav-caption">Dear Baby<br />亲爱的宝宝</li>
					<li class="sequence-nav-button sequence-next">
						<img src="../images/bt-next.png" alt="&gt;">
					</li>
				</ul>
			</div>
		</div>		
	<script type="text/javascript" src="../js/3rdlib/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="../js/3rdlib/jquery.sequence-min.js"></script>
	<script type="text/javascript">
	$(window).onload = function() {
	
	    // var frames = ;
	
	    $("#sequence-nav .sequence-prev, #sequence-nav .sequence-next").css("display", "none");
	    var options = {
	        autoPlay: false,
	        nextButton: true,
	        prevButton: true,
	        // moveActiveFrameToTop: false,
	        navigationSkip: false
	    };
	
	    var sequence = $("#sequence").sequence(options).data("sequence");
	
	    sequence.beforeNextFrameAnimatesIn = function() {                   
	        if(!this.cycle) {
	            showNavButtons(sequence.nextFrameID);   
	        }
	        
	        $(".sequence-nav-caption").fadeOut(500, function() {
	            changeText(sequence.currentFrameID);
	        });
	    };
	
	    sequence.afterLoaded = function() {
	        changeText(sequence.settings.startingFrameID);
	    }
	
	    showNavButtons(sequence.nextFrameID);
	
	    function changeText(frameID) {
	        $(".sequence-nav-caption").html(
	            $("#sequence li:nth-child("+(frameID)+") img").attr("data-sequence-caption")
	        ).fadeIn(500);
	    }
	    
	    function showNavButtons(id) {
	        switch(id) {
	            case 1:
	            $("#sequence-nav .sequence-prev").fadeOut(500);
	            $("#sequence-nav .sequence-next").fadeIn(500);
	            break;
	            
	            case undefined:
	            $("#sequence-nav .sequence-prev").fadeOut(500);
	            break;
	            
	            case sequence.numberOfFrames:
	            $("#sequence-nav .sequence-next").fadeOut(500);
	            $("#sequence-nav .sequence-prev").fadeIn(500);
	            break;
	            
	            default:
	            $("#sequence-nav .sequence-next, #sequence-nav .sequence-prev").fadeIn(500);
	            break;
	        }
	    }
	    
	    $("#sequence").on("click", "li img", function() {
	        var frameID = $(this).parent("li").index() + 1;
	        sequence.nextFrameID = frameID;
	        sequence.goTo(frameID);
	    });
	};
	</script>
	</body>
</html>
