<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>获取鼠标位置</title>
	</head>
	<body>
		<p>当前鼠标的坐标为：<span></span></p>
		<div style="width: 100px;height: 100px;background-color: #46B8DA;position: absolute;top: 0px;left: 0px;" class="box"></div>
		
		<script type="text/javascript" src="../js/3rdlib/jquery-2.0.0.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$(document).mousemove(function(e){
					getPageCoordinates(e);
				});
			});
			
			function getPageCoordinates(e){
				x=e.pageX;
				y=e.pageY;
				$("span").text("X:"+x+"，"+"Y:"+y);
				$(".box").css("top",y);
				$(".box").css("left",x);
			}
			
			
		</script>
	</body>
</html>
