<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<style>
			html,body{margin: 0;padding: 0;}
			.box{height: 1700px;}
		</style>
	</head>
	<body>
		<div class="box"></div>
		<script type="text/javascript" src="../js/3rdlib/jquery-2.0.0.min.js" ></script>
		<script type="text/javascript">
			var range = 50;		//触发的边界值
			var maxNum = 10;	//加载总次数
			var num = 1;		//当前次数
			var totalHeight = 0;
			var main = $('.box');
			$(window).scroll(function(){
				var scrollTop = $(window).scrollTop();
				totalHeight = $(window).height() + scrollTop;
				console.log($(document).height()+ ',' +totalHeight)
				if($(document).height()-range <= totalHeight && num != maxNum){
					main.append("<div style='border:1px solid #000;height:60%;'>下拉加载"+ num +"</div>");
					num++;
				}
			})
		</script>
	</body>
</html>
